
extends layout
block content 
    .row
        .col
            .mx-5
                h1 Diablo 2 Ressurected Item Datenbank Übersicht
                table.table
                    thead 
                        tr
                            th Item Übersicht
                    tbody
                        for item in items
                            tr
                                th
                                    a(href="/Items/"+kurs.id)=kurs.id
                                th  
                                    a(href="/Items/"+kurs.id)=kurs.Name